@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .link {
      @apply hover:underline cursor-pointer;
    }
  }

  @layer utilities {
    @variants responsive {
        .text-shadow {
          text-shadow: 2px 2px 4px black;
        }
        .text-shadow-md {
          text-shadow: 4px 4px 8px black;
        }
        .text-shadow-lg {
          text-shadow: 15px 15px 30px black;
        }
        .text-shadow-none {
          text-shadow: none;
        }
    } 
}