.navbar{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    width:100%;
    min-height:75px;
    background-color:white;
    color:black;
    border-bottom: black 1px solid;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar_links{
    display: flex;
}
.navbar_link{
    padding: 0 0.3rem;
    color: inherit;
}

.navbar_burger{
    width:40px;
    height:40px;
    background:transparent;
    border:none;
    color: inherit;
    display: none;
    z-index: 50;
}
a{
    text-decoration: none;

}
li:hover{
    text-decoration: underline #F4B40A;

}

@media screen and (max-width: 767px) {
    .navbar_links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        padding:2rem;
        visibility: hidden;
        background-color: white;
        z-index:50
    }
    .show-nav .navbar_links{
        width: 100vw;
        right: 0;
        visibility: visible;
    }
    .navbar_link{
        display: block;
        padding:1.5rem;
        font-size: 5vw;
    }
    .navbar_burger{
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        background-color: rgba(0, 0, 0, 0.23);
        border-radius: 10px;
    }
    .navbar_burger:hover{
        cursor:pointer;
    }
    .burger-bar,
    .burger-bar::before,
    .burger-bar::after{
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: black;
        transition: all 0.5s ease-in-out;
    }
    .burger-bar::before,
    .burger-bar::after{
        content: "";
        position:absolute;
        left: 0;
    }
    .burger-bar::before{
        transform: translateY(-12px);
    }
    .burger-bar::after{
        transform: translateY(12px)
    }
    .show-nav .burger-bar{
        width: 0;
        background: transparent;
    }
    .show-nav .burger-bar::before{
        transform: rotate(45deg);
    }
    .show-nav .burger-bar::after{
        transform: rotate(-45deg);
    }
}